body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a {
  color: #ff483E;
  text-decoration: none;
  transition: color 0.2s;
}

a:hover {
  text-decoration: underline;
}

a:focus,
button:focus {
  outline: none;
}
